<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カルドセプト管理システム</title>
    <link rel="stylesheet" href="/public/css/style.css"> </head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1 style="font-size: 3em;">CULDCEPT MANAGER</h1>
        <p>セプターのためのデータ管理システム</p>
        
        <ul style="list-style: none; padding: 0; margin-top: 50px;">
            <li style="margin: 20px;">
                <a href="/creatures" class="btn" style="font-size: 1.5em; width: 300px;">クリーチャー図鑑</a>
            </li>
            <li style="margin: 20px;">
                <a href="/maps" class="btn" style="font-size: 1.5em; width: 300px;">マップ攻略メモ</a>
            </li>
            <li style="margin: 20px;">
                <a href="/reviews" class="btn" style="font-size: 1.5em; width: 300px;">歴代作レビュー</a>
            </li>
        </ul>
    </div>
</body>
</html>